<!--  This manifest shows you how to configure Apphance in pre-production mode. -->
<!--  For more information about the content of this manifest, please visit: -->
<!--  http://help.apphance.com/library-installation/android/tutorial-pre-production -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworldapphanceintegration"
    android:versionCode="1"
    android:versionName="1.9" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-sdk android:minSdkVersion="8"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <activity android:name=".MainActivity"
                  android:configChanges="orientation"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.apphance.android.ui.ProblemActivity"
                android:configChanges="orientation"
                android:launchMode="singleInstance"
                android:process="com.utest.apphance.reporteditor">
        </activity>

    </application>

</manifest>